<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>kotprotiv</title>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2>As you can see, I am not a frontend dev</h2>
<br>
<h3>Some links</h3>
<a rel="me" href="https://bsky.app/profile/kotprotiv.bsky.social">
	<img th:src="@{/img/bluesky.jpeg}" width="50" height="50" style="margin: 10px;" alt="bluesky logo">
</a>
<a rel="me" href="https://instagram.com/kotprotiv">
	<img th:src="@{/img/instagram.png}" width="50" height="50" style="margin: 10px;" alt="instagram logo">
</a>
<a rel="me" href="https://last.fm/user/kotprotiv">
	<img th:src="@{/img/lastfm.png}" width="50" height="50" style="margin: 10px;" alt="lastfm logo">
</a>
<a rel="me" href="https://mastodon.social/@kotprotiv">
	<img th:src="@{/img/mastodon.png}" width="50" height="50" style="margin: 10px;" alt="mastodon logo">
</a>
<a rel="me" href="https://github.com/kotprotiv">
	<img th:src="@{/img/github.png}" width="50" height="50" style="margin: 10px;" alt="github logo">
</a>
<br>
<h3>Obsession of the week: <span th:text="${obsession.name}"></span></h3>
<div style="display: flex; justify-content: center;">
	<iframe th:src="${obsession.url}" title="YouTube video player" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
			style="aspect-ratio: 16 / 9; width: 100% !important;"></iframe>
</div>
</body>
</html>


